<!DOCTYPE html>
<html>
<head>
    <%include header.ejs %>
    <style type="text/css">
        #paged { float: right; margin-right: 3%; }
        #paged ul li { display: inline; margin: 5px; }
        #paged ul li a { 
            cursor: pointer; 
            border-width: 1px;
            border-color: #d4dfe3;
            border-radius: 0 !important;
            border:1px solid #ddd;
            color: #2283c5;
            background-color: #fafafa;
            padding:7px 10px;
        }
        #paged ul li.active a {
            color: #393939;
            text-decoration: none;
        }

        #qrCode { top: 33%; right: 5%; width: 100px; position: fixed; }
    </style>
</head>
<body id="index">
    <div class="row-offcanvas row-offcanvas-left">
        <%include menuleft.ejs %>
        <div class="row-offcanvas-main">
            <div class="container">
                <div class="wrapper">
                    <!-- Begin toolbar -->
                    <!-- End toolbar -->
                    <!-- Begin Header -->
                    <%include header2.ejs %>
                    <!-- End Header -->
                    <!-- Begin content-->
                    <section id="content">
                        <div class="products">
                            <div class="row">
                            <%if(lstProduct.length) { %>
                                <%lstProduct.forEach(function(product) { %>
                                <div class="product col-xs-6  col-sm-3 col-md-2">
                                    <div class="image">
                                        <a href="/collections/detail/id/<%=product.id%>">
                                            <img src="/uploads/<%=product.image%>" alt="Copper Station Pendant Light matt copper finish">
                                        </a>
                                        <div class="details">
                                            <a href="/collections/detail/id/<%=product.id%>" class="clearfix">
                                                <h4 class="title"><%=product.title%></h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <%}) %>
                            <%} %>
                            </div>
                            <div id="paged"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            var options = {
                        bootstrapMajorVersion: 2, //版本
                        currentPage: <%=page%>, //当前页数
                        totalPages: Math.ceil(<%=total/pagesize%>), //总页数
                        itemTexts: function (type, page, current) {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "末页";
                                case "page":
                                    return page;
                            }
                        },
                        pageUrl: function(type, page, current){
                            if (page==current) {
                                return "javascript:void(0)";
                            } else {
                                return "?page=" + page + "&pagesize=<%=pagesize%>";
                            }
                        }
                    };
            $('#paged').bootstrapPaginator(options);
        });
    </script>
</body>
</html>