<!DOCTYPE html>
<html  lang="en">
<head>
    <title>Dashboard - Ace Admin</title>
    <%include ../adminheader.ejs%>
</head>
<body class="no-skin">
    <%include ../adminnavbar.ejs%>

    <div class="main-container" id="main-container">
        <%include ../adminsidebar.ejs%>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            修改商品
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-horizontal" role="form" id="form-banner">
                                        <input type="text" id="productid" value="<%=product.id%>" class="col-xs-6 col-sm-6" style="display: none" />
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label no-padding-right"> 商品标题： </label>
                                            <div class="col-sm-6">
                                                <input type="text" id="title" value="<%=product.title%>" class="col-xs-6 col-sm-6" />
                                                <span id="alert1" class="red col-xs-9" style="margin-top: 7px;"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label no-padding-right"> 商品类型： </label>
                                            <div class="col-sm-6">
                                                <select id="lights" class="col-xs-6 col-sm-6">
                                                    <option value="">-请选择-</option>
                                                    <option value="jmdc">节目灯串</option>
                                                </select>
                                                <span id="alert2" class="red col-xs-9" style="margin-top: 7px;"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-4 control-label no-padding-right"> Party： </label>
                                            <div class="col-sm-6">
                                                <select id="party" class="col-xs-6 col-sm-6">
                                                    <option value="">-请选择-</option>
                                                    <option value="new year">new year</option>
                                                </select>
                                                <span id="alert3" class="red col-xs-9" style="margin-top: 7px;"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label no-padding-right"> Color： </label>
                                            <div class="col-sm-6">
                                                <select id="color" class="col-xs-6 col-sm-6">
                                                    <option value="">-请选择-</option>
                                                    <option value="red">red</option>
                                                    <option value="yerrow">yerrow</option>
                                                    <option value="green">green</option>
                                                    <option value="blue">blue</option>
                                                    <option value="purple">purple</option>
                                                    <option value="white">white</option>
                                                    <option value="golden">golden</option>
                                                    <option value="silvery">silvery</option>
                                                </select>
                                                <span id="alert4" class="red col-xs-9" style="margin-top: 7px;"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label no-padding-right"> 图标地址： </label>
                                            <div class="col-sm-6">
                                                <input type="text" id="image" value="<%=product.image%>" class="col-xs-6 col-sm-6" />
                                                <span id="alert5" class="red col-xs-9" style="margin-top: 7px;"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
					    <label class="col-xs-4 control-label no-padding-right">图片地址: <br />(多图以逗号隔开)</label>
					    <div class="col-sm-6">
					        <textarea row="5" id="bigimage" class="col-xs-6 col-sm-6"><%=product.bigimage%></textarea>
						<span id="alert8" class="red col-xs-9" style="margin-top: 7px"></span>
					    </div>
					</div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label no-padding-right"> 商品描述： </label>
                                            <div class="col-sm-6">
                                                <textarea row="5" id="content1" class="col-xs-6 col-sm-6"><%=product.content1%></textarea>
                                                <span id="alert6" class="red col-xs-9" style="margin-top: 7px;"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label no-padding-right"> 商品描述2： </label>
                                            <div class="col-sm-6">
                                                <textarea row="5" id="content2" class="col-xs-6 col-sm-6"><%=product.content2%></textarea>
                                                <span id="alert7" class="red col-xs-9" style="margin-top: 7px;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-offset-4 col-md-6">
                                    <button class="btn btn-info" type="button" onclick="edit()">
                                        保存修改
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        $(function() {
            $("#lights").val('<%=product.lights%>');
            $("#party").val('<%=product.party%>');
            $("#color").val('<%=product.color%>');
        });

        function edit() {
          var product = { id: $("#productid").val(), title: $("#title").val(), price: 0, lights: $("#lights").val(), party: $("#party").val(), color: $("#color").val(), image: $("#image").val(), bigimage: $("#bigimage").val(), content1: $("#content1").val(), content2: $("#content2").val() };
          console.log(product);
          $.ajax({
            url : "/products/edit",
            type: "post",
            dataType: "json",
            data : product,
            success: function(data) {
              alert(data.msg);
              if(data.code == 200) {
                location.reload();
              }
            },
            error: function(data) {
              alert("操作失败");
            }
          });
        }
    </script>
</body>
</html>
